/*Eléments principaux de la page*/

body
{
	background:  azure;
	background-repeat: no-repeat;
	font-family: "Times New Roman", Arial, sans-serif;
	color: #181818;
}

#bloc_page
{
	width: 900px;
	margin: auto;
}

#titre_principal
{
    width: 50%;
    margin: auto;
	display: center;
	flex-direction: column;
	justify-content: space-around;
}